.page.page-template-index {
    main {
        #hero {
            position: relative;
            background: var(--color-brand-primary-dark);
            padding-top: var(--spacing-jumbo);
            padding-bottom: var(--spacing-giant);
            position: relative;
            @media (max-width: 991px){
                padding-top: var(--spacing-jumbo);
            }
            header {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: var(--spacing-xl);
                @media (max-width: 991px){
                    align-items: center;
                }
                p {
                    @include headline-default_01();
                    color: var(--color-neutral-soft);
                    margin-bottom: 0;
                    @media (max-width: 991px){
                    }
                }
            }
        }
    }
}