.btn {
    transition: 0.5s ease-out all;
    width: fit-content;
    height: fit-content;
    border-radius: none;

    i {
        transition: 0.5s ease-out all;
        path {
            transition: 0.5s ease-out all;
        }
    }

    &.button-ghost {
        @include button_01();
        background: var(--color-neutral-white);
        border: var(--border-width-small) solid var(--color-neutral-medium);
        color: var(--color-neutral-black);
        padding: var(--spacing-lg) var(--spacing-xl);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xs);
        i {
            width: 18px;
            height: 18px;
            position: relative;
            svg{
                width: 18px;
                height: 18px;
                position: absolute;
                top: 0;
                left: 0;
                path {
                    stroke: var(--color-neutral-black) !important;
                }
            }
        }
        &:hover,
        &:focus-visible {
            background: var(--color-brand-primary-pure);
            border: var(--border-width-small) solid var(--color-brand-primary-pure);
            color: var(--color-neutral-white);
            i {
                svg{
                    path {
                        stroke: var(--color-neutral-white) !important;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            //padding: var(--spacing-md) var(--spacing-lg);
        }
    }

    &.button-cta {
        @include button_01();
        background: var(--color-neutral-black);
        border: var(--border-width-small) solid var(--color-neutral-black);
        color: var(--color-neutral-white);
        padding: var(--spacing-lg) var(--spacing-xl);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xs);
        i {
            width: 18px;
            height: 18px;
            position: relative;
            svg{
                width: 18px;
                height: 18px;
                position: absolute;
                top: 0;
                left: 0;
                path {
                    stroke: var(--color-neutral-white) !important;
                }
            }
        }
        &:hover,
        &:focus-visible {
            background: var(--color-brand-primary-pure);
            border: var(--border-width-small) solid var(--color-brand-primary-pure);
            color: var(--color-neutral-white);
            i {
                svg{
                    path {
                        stroke: var(--color-neutral-white) !important;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            //padding: var(--spacing-md) var(--spacing-lg);
        }
    }

    &.button-icon {
        background: var(--color-neutral-black);
        border: var(--border-width-small) solid var(--color-neutral-black);
        padding: var(--spacing-md) var(--spacing-md);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xs);
        i {
            width: 32px;
            height: 32px;
            position: relative;
            svg{
                width: 32px;
                height: 32px;
                position: absolute;
                top: 0;
                left: 0;
                path {
                    stroke: var(--color-neutral-white) !important;
                }
            }
        }
        &:hover,
        &:focus-visible {
            background: var(--color-brand-primary-pure);
            border: var(--border-width-small) solid var(--color-brand-primary-pure);
            i {
                svg{
                    path {
                        stroke: var(--color-neutral-white) !important;
                    }
                }
            }
        }
    }

    &.button-cta-alternative {
        @include button_01();
        background: var(--color-brand-primary-pure);
        border: var(--border-width-small) solid var(--color-brand-primary-pure);
        color: var(--color-neutral-white);
        padding: var(--spacing-lg) var(--spacing-xl);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xs);
        i {
            width: 18px;
            height: 18px;
            position: relative;
            svg{
                width: 18px;
                height: 18px;
                position: absolute;
                top: 0;
                left: 0;
                path {
                    stroke: var(--color-neutral-white) !important;
                }
            }
        }
        &:hover,
        &:focus-visible {
            background: var(--color-neutral-black);
            border: var(--border-width-small) solid var(--color-neutral-black);
            color: var(--color-neutral-white);
            i {
                svg{
                    path {
                        stroke: var(--color-neutral-white) !important;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            //padding: var(--spacing-md) var(--spacing-lg);
        }
    }

    &.button-icon-alternative {
        background: var(--color-brand-primary-pure);
        border: var(--border-width-small) solid var(--color-brand-primary-pure);
        padding: var(--spacing-md) var(--spacing-md);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xs);
        i {
            width: 32px;
            height: 32px;
            position: relative;
            svg{
                width: 32px;
                height: 32px;
                position: absolute;
                top: 0;
                left: 0;
                path {
                    stroke: var(--color-neutral-white) !important;
                }
            }
        }
        &:hover,
        &:focus-visible {
            background: var(--color-neutral-black);
            border: var(--border-width-small) solid var(--color-neutral-black);
            i {
                svg{
                    path {
                        stroke: var(--color-neutral-white) !important;
                    }
                }
            }
        }
    }

    &.button-text {
        @include button_02();
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xxs);
    }

    &.button-tag-big {
        @include button_03();
    }

    &.button-tag-small {
        @include body-default_03();
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xxs);
    }

    &.button-drop {
        @include button_03();
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xxs);
    }

    &.button-menu {
        @include button_01();
    }

    &.button-text-menu {
        @include body-default_03();
    }

    &.button-filter {
        @include button_01();
        background: var(--color-neutral-black);
        border: var(--border-width-small) solid var(--color-neutral-black);
        color: var(--color-neutral-white);
        padding: var(--spacing-md) var(--spacing-lg);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xs);
        i {
            width: 18px;
            height: 18px;
            position: relative;
            svg{
                width: 18px;
                height: 18px;
                position: absolute;
                top: 0;
                left: 0;
                path {
                    stroke: var(--color-neutral-white) !important;
                }
            }
        }
        &:hover,
        &:focus-visible {
            background: var(--color-brand-primary-pure);
            border: var(--border-width-small) solid var(--color-brand-primary-pure);
            color: var(--color-neutral-white);
            i {
                svg{
                    path {
                        stroke: var(--color-neutral-white) !important;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            //padding: var(--spacing-md) var(--spacing-lg);
        }
    }
}