.carousel {
    .carousel-control-next, .carousel-control-prev {
        opacity: 1;
        width: 10%;
        .btn {
            i {
                background-color: transparent;
            }
        }
        &:hover {
            .btn {
                i {
                    background-color: transparent;
                }
            }
        }
    }

    &#carouselHero{
        height: 760px;
        position: relative;
        z-index: 0;
        .carousel-indicators {
            position: relative;
            height: 80px;
            margin: 0;
            width: 100%;
            //margin-top: -80px;
            display: flex;
            justify-content: center;
            gap: 0;
            button {
                flex: 1;
                @include tab;
                text-indent: 0;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 10px !important;
                padding-right: 10px !important;
                border-top: none;
                opacity: 1;
                @media (max-width: 991px){
                    width: 100%;
                    display: none;
                    padding-left: 34px !important;
                    padding-right: 34px !important;
                    //border-radius: var(--border-radius-huge) var(--border-radius-huge) 0 0;
                }
                &:first-of-type {
                    //border-radius: var(--border-radius-huge) 0 0 0;
                    @media (max-width: 991px){
                        //border-radius: var(--border-radius-huge) var(--border-radius-huge) 0 0;
                    }
                }
                &:last-of-type {
                    //border-radius: 0 var(--border-radius-huge) 0 0;
                    @media (max-width: 991px){
                        //border-radius: var(--border-radius-huge) var(--border-radius-huge) 0 0;
                    }
                }
                &.active {
                    opacity: 1;
                    display: block;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        .carousel-item {
            //margin-bottom: 98px;
            background-color: var(--color-neutral-soft);
            .-img {
                width: 100%;
                height: 680px;
                .square {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            header {
                height: 480px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                gap: var(--spacing-lg);
                .badge {
                    @include overline_03();
                    display: block;
                    color: var(--color-brand-primary-pure);
                    margin-bottom: 0;
                    padding: 0;
                    position: relative;
                    @media (max-width: 991px){
                        width: 100%;
                        text-align: center;
                    }
                }
                h2 {
                    @include headline-default_01;
                    color: var(--color-neutral-black);
                    text-align: left;
                    display: -webkit-box;
                    line-clamp: 4;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    margin-bottom: 0;
                    @media (max-width: 991px){
                        text-align: center;
                    }
                }
                p {
                    @include body-default_01;
                    color: var(--color-neutral-black);
                    text-align: left;
                    display: -webkit-box;
                    line-clamp: 3;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    margin-bottom: 0;
                    @media (max-width: 991px){
                        text-align: center;
                    }
                }
                .btn {
                    @media (max-width: 991px){
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                    }
                }
            }
    
            .carousel-caption {
                position: absolute;
                right: 0;
                bottom: 0;
                left: initial;
                padding-top: var(--spacing-xxl);
                padding-bottom: 70px;
                color: #fff;
                text-align: center;
                @media (max-width: 991px){
                    left: 0;
                    right: 0;
                    padding-top: var(--spacing-xxl);
                    padding-bottom: 12px;
                }
                @media (min-width: 1200px){
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
    
            &.fundo-imagem {
                h2, p {
                    padding-right: 40%; //para quano o texto não pega toda a largura
                    @media (max-width: 991px){
                        padding-right: 0;
                    }
                }
                .-img {
                    width: 100%;
                    height: 680px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                /* &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    //background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
                    background: linear-gradient(270deg, rgba(4, 47, 53, 0.00) 0.15%, #042F35 68.81%);
                    z-index: 0;
                    @media (max-width: 991px){
                        //background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
                        background: linear-gradient(270deg, rgba(4, 47, 53, 0.50) 0%, #042F35 50%);
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    height: 140px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(0deg, #2AEC7C -23.04%, rgba(42, 236, 124, 0.00) 95.1%);
                    z-index: 0;
                    @media (max-width: 991px){
                        background: linear-gradient(0deg, #2AEC7C -23.04%, rgba(42, 236, 124, 0.00) 95.1%);
                    }
                } */
            }
            &.imagem-lateral {
                position: relative;
                @media (max-width: 991px){
                    //background: var(--color-neutral-white);
                }
                .-img {
                    position: relative;
                    width: 50% !important;
                    margin-left: 50%;
                    height: 680px;
                    @media (max-width: 991px){
                        width: 100% !important;
                        height: 256px;
                        margin: 0 0 calc(680px - 256px) 0;
                    }
                    .square {
                        @media (max-width: 991px){
                            width: 24px;
                            height: 24px;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top left;
                        @media (max-width: 991px){
                            object-position: unset;
                        }
                    }
                }
                /* &::before {
                    width: 50%;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: var(--color-neutral-white);
                    z-index: 0;
                    @media (max-width: 991px){
                        width: 100% !important;
                        top: 80px;
                        height: 155px;
                        background: linear-gradient(180deg, rgba(242, 242, 242, 0.00) 7.74%, var(--color-neutral-white) 100%);
                    }
                } */
                &.gradient {
                    .-img {
                        width: 100%;
                        margin-left: 20%;
                        height: 680px;
                        @media (max-width: 991px){
                            width: 100% !important;
                            height: 256px;
                            margin: 0 0 calc(680px - 256px) 0;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            @media (max-width: 991px){
                                object-fit: cover;
                            }
                        }
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: linear-gradient(270deg, rgba(242, 242, 242, 0.00) 0%, #F2F2F2 60%);
                        z-index: 0;
                        @media (max-width: 991px){
                            top: 80px;
                            height: 155px;
                            background: linear-gradient(180deg, rgba(242, 242, 242, 0.00) 7.74%, #F2F2F2 100%);
                        }
                    }
                }
                h2 {
                    color: var(--color-neutral-black);
                    width: 45%;
                    @media (max-width: 991px){
                        width: 100%;
                    }
                }
                p {
                    color: var(--color-neutral-black);
                    width: 45%;
                    @media (max-width: 991px){
                        width: 100%;
                    }
                }
    
                .carousel-caption {
                    //top: 108px;
                    bottom: 0;
                    @media (max-width: 991px){
                        top: initial;
                        bottom: 0;
                        padding-top: 0;
                        padding-bottom: 12px;
                    }
                }
            }
            &.escuro {
                background: var(--color-brand-primary-pure);
                .badge {
                    color: var(--color-brand-secondary-pure);
                }
                h2, p {
                    color: var(--color-neutral-white);
                }
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            width: 24px;
            height: 24px;
            //background: none;
            background: var(--color-neutral-white);
            //padding: var(--spacing-lg);
            //border-radius: var(--border-radius-pill);
            opacity: 1;
            top: initial;
            bottom: calc(80px - 56px);
            z-index: 3;
            position: absolute;
            display: none;
            @media (max-width: 991px){
                display: block;
            }
        }
        .carousel-control-prev {
            left: calc(15px + var(--spacing-xs));
            .carousel-control-prev-icon {
                width: 24px;
                height: 24px;
                background-image: url(../assets/images/icons/arrow-left.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .carousel-control-next {
            right: calc(15px + var(--spacing-xs));
            .carousel-control-next-icon {
                width: 24px;
                height: 24px;
                background-image: url(../assets/images/icons/arrow-right.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
    
    &#carouselDepoimentos {
        .carousel-indicators {
            gap: var(--spacing-xs);
            margin-bottom: 48px;
            button {
                background: transparent;
                border: 1px solid var(--color-neutral-white);
                width: 12px;
                height: 12px;
                border-radius: 100%;
                margin: 0;
                padding: 0;
                opacity: 1;
                &.active {
                    background: var(--color-neutral-white);
                }
            }
        }
        .carousel-inner {
            background: var(--color-neutral-black);
            min-height: 720px;
            @media (max-width: 991.8px) {
                min-height: 786px;
            }
            
            .carousel-item {
                //background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 83.97%), url('../assets/images/img.jpg');
                padding-top: var(--spacing-giant);
                padding-bottom: var(--spacing-giant);
                min-height: 720px;
                background-repeat: no-repeat !important;
                background-position: center center !important;
                background-size: cover !important;
                @media (max-width: 991.8px) {
                    padding-top: var(--spacing-xxxl);
                    padding-bottom: var(--spacing-xxxl);
                    padding-left: var(--spacing-lg);
                    padding-right: var(--spacing-lg);
                    min-height: 786px;
                    background-size: auto 50% !important;
                    background-position: top center !important;
                }
                /* img {
                    text-align: center;
                } */
                blockquote {
                    position: relative;
                    height: calc(720px - var(--spacing-giant) - var(--spacing-giant));
                    //max-width: 1116px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 0;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: var(--spacing-xxl);
                    @media (max-width: 991.8px) {
                        margin-top: 0;
                        height: calc(786px - var(--spacing-xxxl) - var(--spacing-xxxl));
                    }
                    p {
                        @include body-highlight_01;
                        text-align: left;
                        color: var(--color-neutral-white);
                        margin-top: 0;
                        margin-bottom: 0;
                        & strong {
                            font-weight: 700;
                        }
                        
                    }
                    cite {
                        position: relative;
                        @include body-default_01;
                        display: block;
                        text-align: left;
                        color: var(--color-neutral-white);
                        padding-left: calc(80px + 32px);
                        min-height: 28px;
                        & strong {
                            font-weight: 700;
                            color: var(--color-neutral-white);
                        }
                        &::before {
                            position: absolute;
                            top: 13px;
                            left: 0;
                            content: '';
                            display: block;
                            width: 80px;
                            height: 2px;
                            background: var(--color-brand-secondary-pure);
                            border-radius: 0;
                        }
                    }
                    
                    &::before {
                        content: '';
                        position: absolute;
                        width: 48px;
                        height: 48px;
                        top: 0;
                        left: 0;
                        //background: url(../assets/images/carrossel-depoimento-quote.png) no-repeat center top;
                        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path d="M0 43V22.1129C0 17.7222 1.1366 14.2724 3.4098 11.7634C5.68301 9.25448 9.15425 8 13.8235 8H19.3529V17.7849H14.9294C13.2092 17.7849 11.9497 18.2867 11.151 19.2903C10.3523 20.2312 9.95294 21.4229 9.95294 22.8656V24.9355H18.2471V43H0ZM27.6471 43V22.1129C27.6471 17.7222 28.7837 14.2724 31.0569 11.7634C33.3301 9.25448 36.8013 8 41.4706 8H47V17.7849H42.5765C40.8562 17.7849 39.5967 18.2867 38.798 19.2903C37.9993 20.2312 37.6 21.4229 37.6 22.8656V24.9355H45.8941V43H27.6471Z" fill="%23ECCD02"/></svg>') no-repeat center top;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
                    @media (max-width: 991.8px) {
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 50%);
                    }
                }
            }
        }
        .carousel-control-prev {
            @media (max-width: 991.8px) {
                left: 0;
            }
        }
    
        .carousel-control-next {
            @media (max-width: 991.8px) {
                right: 0;
            }
        }
    }
}