#header {
    background-color: var(--color-neutral-white);
    width: calc(100% - var(--spacing-md) - var(--spacing-md));
    height: var(--menu-height);
    position: absolute;
    top: var(--spacing-md);
    left: var(--spacing-md);
    //margin: 48px;
    z-index: 1000;
    //border-radius: var(--border-radius-pill);
    @media (max-width: 991px){
        top: var(--spacing-sm);
        left: var(--spacing-sm);
        min-width: calc(100% - var(--spacing-sm) - var(--spacing-sm));
    }
    nav {
        position: relative;
        //background-color: var(--color-neutral-white);
        height: var(--menu-height);
        border-bottom: 0;
        padding: 0;
        //box-shadow: var(--shadow-soft);
        z-index: 2;
        //border: 1px solid var(--color-neutral-light);
        //border-radius: var(--border-radius-pill);
        /* box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden; */
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: var(--border-width-medium);
            height: 100%;
            background-color: var(--color-brand-secondary-light);
            z-index: 1;
        }
        @media (max-width: 991px){
            
        }
        .shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.12);
            //border-radius: var(--border-radius-pill);
            pointer-events: none;
        }
        .navbar-brand {
            margin-top: 0;
            flex-shrink: 0;
            flex-grow: 0;
            margin-right: 0;
            padding: var(--spacing-sm) var(--spacing-lg);
            height: var(--menu-height);
            overflow: hidden;
            img {
                width: var(--logo-menu-width);
                height: var(--logo-menu-height);
                @media (max-width: 991px){
                    //margin-left: 16px;
                    width: var(--logo-menu-width);
                    height: var(--logo-menu-height);
                }
            }
        }
        .navbar-toggler {
            width: var(--menu-height);
            height: var(--menu-height);
            //background: var(--color-neutral-white);
            border: 0;
            border-radius: 0;
            padding: var(--spacing-md);
            margin: 0;
            //border-left: 1px solid var(--color-neutral-light);
            .navbar-toggler-icon {
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3 12H21M3 6H21M3 18H21' stroke='%23180A00' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
            &:not(.collapsed) {
                border: 0;
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18 6L6 18M6 6L18 18' stroke='%23180A00' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
            }
            &:focus {
                outline: 0;
                box-shadow: 0 0 0 0;
            }
            @media (max-width: 991px){
                
            }
        }
    }
    #menuPrincipal {
        //background-color: var(--color-neutral-white);
        justify-content: space-between;
        gap: var(--spacing-md);
        padding: 0 var(--spacing-lg);
        border-radius: var(--border-radius-pill);
        transition: none;
        @media (max-width: 991px){
            position: absolute;
            top: calc(var(--spacing-sm) * -1);
            left: calc(var(--spacing-sm) * -1);
            width: calc(100% + var(--spacing-sm) + var(--spacing-sm));
            //height: calc(100vh - var(--spacing-sm) - var(--spacing-xxxl));
            //height: 100vh;
            background-color: var(--color-neutral-white);
            z-index: -1;
            border-radius: 0;
            padding: 0;
            //overflow-y: auto;
        }
        .left {
        }
        .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: var(--spacing-giant);
            @media (max-width: 991px){
                align-items: center;
                gap: var(--spacing-xxxl);
                padding: calc(var(--spacing-sm) + var(--menu-height-mobile) + var(--spacing-xl)) var(--spacing-lg) var(--spacing-xxxl) var(--spacing-lg) ;
            }
            ul.navbar-nav {
                margin-top: 0;
                gap: var(--spacing-lg);
                @media (max-width: 991px){
                    //align-items: center;
                    width: 100%;
                }
                li {
                    a {
                        @include button_02();
                        justify-content: flex-start;
                        color: var(--color-neutral-deep);
                        padding: 0;
                        position: relative;
                        text-align: left;
                        &:hover {
                            color: var(--color-neutral-black);
                        }
                        &.active {
                            color: var(--color-brand-primary-pure);
                        }
                        @media (max-width: 991px){
                            @include button_01();
                            color: var(--color-neutral-deep);
                        }
                    }
                    ul.dropdown-menu {
                        &.show {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: var(--spacing-sm);
                            width: 100%;
                            border: 0;
                            padding: var(--spacing-lg);
                            @media (max-width: 991px){
                                padding: var(--spacing-lg) 0 0 0;
                            }
                            li {
                                a {
                                    @include body-default_02();
                                    justify-content: flex-start;
                                    color: var(--color-neutral-dark);
                                    padding: 0;
                                    position: relative;
                                    text-align: left;
                                    &:hover {
                                        color: var(--color-neutral-black);
                                    }
                                    &.active {
                                        color: var(--color-brand-primary-pure);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: var(--spacing-lg);
            @media (max-width: 991px){
                width: 100%;
                justify-content: flex-start;
                gap: var(--spacing-xxxl);
                padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-xxxl) var(--spacing-lg);
            }
            .buttons {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: var(--spacing-md);
                @media (max-width: 991px){
                    flex-direction: row;
                    justify-content: center;
                    display: none;
                }
                .btn.-social{
                    padding: 0;
                    i {
                        width: 24px;
                        height: 24px;
                        svg {
                            width: 24px;
                            height: 24px;
                            path {
                                fill: var(--color-brand-primary-dark);
                            }
                        }
                    }
                    &:hover,
                    &:focus-visible {
                        i {
                            svg{
                                path {
                                    fill: var(--color-brand-primary-pure) !important;
                                }
                            }
                        }
                    }
                }
            }
            .navbar-languages {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: var(--spacing-xxs);
                margin: 0;
                li {
                    a {
                        justify-content: flex-start;
                        color: var(--color-neutral-black);
                        background: var(--color-neutral-light);
                        &.active {
                            color: var(--color-neutral-white);
                            background: var(--color-neutral-black);
                        }
                    }
                }
                @media (max-width: 991px){
                    gap: var(--spacing-sm);
                    padding-top: 0;
                }
            }
            .form-search {
                input {
                    @media (max-width: 991px){
                    border-top: var(--border-width-small) solid var(--color-neutral-light);
                    }
                }
            }
        }
        

        /* @media (max-width: 991px){
            background-color: var(--color-neutral-white) !important;
            padding: 0;
            box-shadow: inset var(--shadow-soft);
            .navbar-nav {
                padding: var(--spacing-xl) var(--spacing-sm) 0 var(--spacing-sm);
                margin-bottom: var(--spacing-xl);
                gap: 0;
                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: var(--spacing-md) 0 var(--spacing-md) 0;
                    border-bottom: var(--border-width-nano) solid var(--color-neutral-medium);
                    margin: 0;
                    &:last-child {
                        border-bottom: 0;
                    }
                    a {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                    }
                    
                }
            }
        } */
    }

    #searchButton {
        width: 40px;
        height: 40px;
        padding: 0;
        text-align: center;
        &:hover,
        &:focus,
        &:focus-visible {
            border: 0 !important;
            i {
                svg {
                    path {
                        //fill: var(--color-brand-secondary-pure) !important;
                    }
                }
            }
        }
        @media (max-width: 991px){
            display: none;
        }
    }
}

#searchBar {
    background: var(--color-neutral-soft);
    backdrop-filter: blur(40px);
    transition: all 0.6s;
    //opacity: .5;
    top: -200px;
    left: 0;
    padding: calc(var(--menu-height) + var(--spacing-md) + var(--spacing-md)) var(--spacing-md) var(--spacing-md) var(--spacing-md);
    width: 100%;
    z-index: 0;
    position: absolute;
    z-index: 1;
    border-radius: 0;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.12);
    &.active {
        opacity: 1;
        top: 0;
        @media (max-width: 991px){
            top: var(--menu-height-mobile);
        }
    }
}

.backdrop-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--gradient-tertiary_04);
    opacity: var(--opacity-level-soft) !important;
    opacity: 0.5;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    &.d-none {
        opacity: 0;
    }
}