.-line-top {
    /* padding-top: calc(var(--spacing-xl) + 8px);
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 186px;
        height: 5px;
        background: var(--gradient-secondary_04);
        border-radius: 0;
    } */
}


.stroke-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-xs);
    height: 12px;
    margin-bottom: var(--spacing-xxxl);
    @media (max-width: 991px){
        margin-bottom: var(--spacing-xl);
    }
    .square {
        width: 12px;
        height: 12px;
        border-radius: 0;
    }
    .line {
        background: url(../assets/images/elements/stroke-line.png) no-repeat center center;
        width: 100%;
        height: 100%;
        background-size: 100% 100% !important;
    }
}