.-line-top {
    /* padding-top: calc(var(--spacing-xl) + 8px);
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 186px;
        height: 5px;
        background: var(--gradient-secondary_04);
        border-radius: 0;
    } */
}